<aside class="dashboard-sidebar admin" xmlns:th="http://www.thymeleaf.org" th:fragment="admin">
    <a th:href="@{/admin}"><i class="bi bi-command"></i> Admin Dashboard</a>
    <a th:href="@{/admin/users}"><i class="bi bi-people"></i> Manage Users</a>
    <a th:href="@{/admin/deleted-accounts}"><i class="bi bi-person-x"></i> Account Reviews</a>
    <a th:href="@{/admin/posts}"><i class="bi bi-shield-exclamation"></i> Manage Posts</a>
    <a th:href="@{/admin/categories}"><i class="bi bi-tags"></i> Categories</a>
    <a th:href="@{/admin/reports}"><i class="bi bi-flag"></i> Reports</a>
</aside>
